.addedRoomsList__RoomPage{
    width: 640px;
    height: 100vh;
    right: 0;
    top: 20px;
    z-index: 1301;
    margin-top: -20px;
    margin-left: auto;
    background: var(--whiteFF);
    position: fixed;
    padding: 70px 70px 0px 70px;
    outline: 1px solid var(--grayEF);
}
.titleAddRoom__RoomPage{
    margin-bottom: 40px;
}
.addRoomBtn__RoomPage{
    width: 138px;
    height: 50px;
    color: var(--whiteFF)
}
.addedRoom__RoomPage{
    position: relative;
}
.addRoomInputTitle__RoomPage{
    margin-bottom: 15px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 19px;
    color: var(--grayPlaceholder);
}
.addRoomInput__RoomPage{
    
}
.btnAddRoomGroup__RoomPage{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
}
.deleteRoomInputTitle__RoomPage{
    width: 20px;
    height: 20px;
    padding: 10px;
    border: none;
    background: none;
    background-image: url(/public/img/DeleteAddRoomInput.svg);
    position: absolute;
    left: -36px;
    top: 48px;
}
.saveAddRoom__RoomPage, .closeAddRoom__RoomPage{
    display: block;
    width: 83px;
    height: 50px;
    margin-right: 30px;
}