.container__ItemsList{
    width: 1420px;
}
.contentContainer__ItemsList{
    padding: 0 70px 0 100px;
}
.addItem__ItemsList{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.5px;
    background-color: var(--orangeEF);
    color: var(--whiteFF);
    width: 125px;
    height: 50px;
    border: 1px solid var(--whiteBord);
    padding: 18px 25px;
}
.columnTitleRow__ItemsList{
    display: flex;
    padding: 0 30px;
    height: 73px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--grayDE);
}
.columnTitles__ItemsList{
    border: 1px solid var(--black2D);
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}
.columnTitle__ItemsList{
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: rgba(79, 93, 117, 0.5);
    position: relative;
}
.columnTitle__ItemsList{
    margin-right: 30px;
}
.contentList__ItemsList{
    border: 1px solid var(--whiteE5);
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    width: 100%;
}

.checkboxLable{
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid var(--whiteE5);
    border-radius: 10px;
}
.checkboxLable:hover{
    border-color: var(--gray5E);
}
.checkbox{
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;;
}

.qRCode{
    width: 97px;
}
.qRCodeBig{
    width: 157px;
}
.name{
    width: 142px;
}
.nameBig{
    width: 202px;
}
.status{
    width: 128px;
}
.statusBig{
    width: 148px;
}
.date{
    width: 108px;
}
.dateBig{
    width: 158px;
}
.price{
    width: 94px;
}
.priceBig{
    width: 164px;
}
.room{
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.defects{
    width: 162px;
    text-align: right;
}
.defectsBig{
    width: 191px;
    text-align: right;
}