*{
    box-sizing: border-box;
}
.user__UserList{
    display: block;
}
.users__UserList{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 70px;
    border-bottom: 1px solid #DEE1E7;
    padding-left: 100px;
    position: relative;
}
.userParam__UserList{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.6px;
    color: var(--linkSecondary);
}
.userParam__UserList:not(:last-child){
    margin-right: 60px;
}
.userNameWithAvatar{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    position: relative;
    width: 207px;
    margin-right: 60px;
}
.userNameWithAvatar::before{
    position: absolute;
    left: -70px;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 20px;
}
.userDeleteBtn,
.userCloseBtn{
    width: 87px;
    height: 50px;
    font-size: 16px;
    margin: 0;
    transition: ease-in-out 0.2s background-color; 
    background-color: white;
}
.userDeleteBtn{
    background-color: #DEDEDE;
}
.userDeleteBtn:hover{
    background-color: #9696fd;
}
.userCloseBtn:hover{
    background-color: rgb(214, 202, 202);
}