.container__RoomPage{

}
.addRoomBtn_RoomPage{
    width: 131px;
    height: 50px;
    border: 1px solid var(--whiteFF);
}
.addRoomBtn_RoomPage:hover{
    opacity: 0.8;
}
.addRoomBtn_RoomPage::before{
    position: absolute;
    content: "";
    border-right: 1px solid  #E5E7EA;
    width: 100px;
    height: 50px;
    top: 0;
    right: -25px;
    z-index: 2;
}
.search_RoomPage{
    height: 50px;
    padding: 20px 15px;
    border-radius: 5px;
    color: var(--grayPH);
    border: 1px solid var(--whiteBord);
}
.search_RoomPage:hover, :focus{
    outline: 2px solid var(--grayPH);
}

.filter__RoomPage{
    display: flex;
}
.list__RoomPage{
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inactiveAll__RoomPage{
    position: relative;
    width: 100%;
    height: 100vw;
    z-index: 0;
}
.inactiveAll__RoomPage::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vw;
    top:-90px;
    left:-40px;
    z-index: 100;
    opacity: 0.5;
    background-color: black;
}