.editedRooms__RoomPage{
    width: 640px;
    height: 100vh;
    right: 0;
    top: 20px;
    z-index: 1301;
    margin-top: -20px;
    margin-left: auto;
    background: var(--whiteFF);
    position: fixed;
    padding: 70px 70px 0px 70px;
    outline: 1px solid var(--grayEF);
    display: flex;
    flex-direction: column;
}
.titleEditRoom__RoomPage{
    margin-bottom: 40px;
}
.editRoomBtn__RoomPage{
    width: 138px;
    height: 50px;
}
.editedRoom__RoomPage{
    position: relative;
}
.editRoomInputTitle__RoomPage{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
    color: var(--grayPlaceholder);
}
.btnEditRoomGroup__RoomPage{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    margin-top: auto;
}
.saveEditRoom__RoomPage,
.closeEditRoom__RoomPage{
    width: 93px;
}
.deleteEditRoom__RoomPage{
    width: 87px;
    margin-left: auto;
}
