*{
    box-sizing: border-box;
}
.filter{
    width: 200px;
    height: 50px;
    color: var(--grayPH);
    background-color: var(--whiteFF);
    position: relative;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
}
.filterOptions{
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1px; 
    top: 53px;
    z-index: 10;
}
.filterOption, .filterTitle{
    display: block;
    width: 200px;
    height: 50px;
    padding: 20px 15px;
    line-height: 17px; 
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--whiteBord);
    overflow: hidden;
    text-overflow: ellipsis;
}
.filterTitle:focus{
    outline: 2px solid var(--grayPH);
}
.filter:hover{
    outline: 2px solid var(--grayPH);
}
.filterOption{
    background-color: var(--whiteFF);
    border: 1px solid var(--whiteBord);
}
.filterOption:hover{
    background-color: var(--grayHO);
    opacity: 1;
    z-index: 10;
}

