
:root{
    --gray5A: #5A5A5A;
    --grayC2: #C2C2C2;
    --grayDE: #DEDEDE;
    --grayF4: #F4F4F4;
    --gray63: #6380A6; 
    --grayPH: rgba(45, 49, 66, 0.35);
    --grayHO: rgb(163, 171, 209);
    --whiteE5: #E5E5E5;
    --whiteFF: #FFFFFF;
    --black2D: #2D3142;
    --orangeEF: #EF8354;
    --primaryButton: #EF8354;
    --whiteBord:#E5E7EA;
    --grayDEE: #DEE1E7;
    --placeholder: #B6B7BD;
    --textPaginationText: #2D3142;
    --iconsHeadlineTabsButtons: rgb(149, 158, 172);
    --linkSecondary: #6380A6;
    --statusActive:  #FDECE5;
    --statusInactive :  #EFF2F6;
    --statusInactiveDelBtn: #EFF2F6;
    --statusActiveEA: #EAECEE;
    --headerPaginationText: #2D3142;
    --inactiveTextInTable: #A7AEBA;
    --iconsHeadlinesTableButtons: #959EAC;
    --input: #D5D6D9;
    --navigationText: #6C6F7B;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/public/fonts/static/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    src: url('/public/fonts/static/Rubik-Medium.ttf');
}
@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    src: url('/public/fonts/static/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal;
    src: url('/public/fonts/static/Rubik-Light.ttf');
}
*,
*::before
*::after
{
    box-sizing: border-box;
}
p{
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: Rubik, Helvetica, sans-serif;
    padding-top: 100px;
    font-size: 14px;
    text-overflow: ellipsis;
}
ul, ol{
    list-style: none;
}
h3, h4{
    margin: 0;
}

.modalButton{
    position: relative;
    margin-right: 50px;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.6px;
}
.saveBtn,.closeBtn,.deleteBtn{
    display: block;
    width: 87px;
    height: 50px;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid var(--whiteBord);
}
.saveBtn{
    background-color: var(--orangeEF);
}
.saveBtn:hover{
    color: var(--whiteBord);
    opacity: 0.9;
}
.closeBtn{
    background-color: var(--iconsHeadlineTabsButtons);
}
.deleteBtn{
    background-color: var(--statusInactiveDelBtn);
}
.addBtn{
    display: block;
    height: 50px;
    margin-right: 30px;
    border-radius: 5px;
    color: var(--whiteFF);
    background-color: var(--orangeEF);
}

.modalInput{
    width: 500px;
    height: 50px; 
    padding: 20px 15px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 1px solid var(--grayDEE);
    color: var(--textPaginationText);

}


/*НАБОР КАСТОМНЫХ СТИЛЕЙ*/
.ml-auto{
    margin-left: auto;
}
.activeStatus, .inactiveStatus{
    width: fit-content;
    height: 30px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center ;
    border-radius: 50px;
}
.activeStatus{
    color: var(--orangeEF);
    background-color: var(--statusActive);
}
.inactiveStatus{
    color: var(--gray63);
    background-color: var(--statusInactive);
}
.btngroup{
    display: flex;
    margin-left: auto;
}
.deleteIcon, .deleteIcon::after, .editIcon, .editIcon::after{
    margin-top: -2px;
    height: 18px;
    width: 18px;
}
.deleteIcon, .editIcon{
    position: relative;
    background: none;
    border: none;
}
.deleteIcon:focus, .editIcon:focus{
    border:none;
    outline: none;
}
.deleteIcon::after{
    background-image: url("/public/img/DeleteIcon.svg");
}
.editIcon::after{
    background-image: url("/public/img/EditIcon.svg");
}
.deleteIcon::after, .editIcon::after{
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background-size: cover;
}
.deleteIcon:hover, .editIcon:hover{
    opacity: 0.5;
}
.editIcon{
    margin-right: 24px;
}
.inputTitle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--placeholder);
    display: block;
    margin-bottom: 10px;
}
/* .modalConfirm{
    width: 100px;
    height: 70px;
} */
.validationErrorMessage{
    color: var(--gray63);
    text-decoration: underline;
}
.recommendations{
    color: var(--gray63);
}