.flex{
    display:flex;
    align-items:center;
    justify-content: center;
}
.arrowContainer{
    width: 11px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: auto;
}
.columnWithFilterTitle{
    display: block;
    margin-right: 5px;
}
.arrowUp, .arrowDown{
    display: block;
    position: relative;
    margin-top: -0px;
    width: 10px; 
    height: 10px;
    padding: 4px;
    margin-bottom: 7px;
    background: none;
    border: none;
    z-index: -1;
}

.arrowUp::after, .arrowDown::after{
    position: absolute;
    content: " ";
    top: 1px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}
.arrowUp::after{
    background-image: url("/public/img/FilterArrowUp.svg");
}
.arrowDown::after{
    background-image: url("/public/img/FilterArrowDown.svg");
}